:root {
  --background-color-dark: #1a1a1a;
  --background-color-light: #f8f8f8;
  --color-dark: #e0e0e0;
  --color-light: #2a2a2a;
  --primary-color-dark: #2e3a45;
  --primary-color-light: #8c9ba5;
  --secondary-color-dark: #3a4753;
  --secondary-color-light: #5c6f7f;
  --pop-color-dark: #5fa0b0;
  --pop-color-light: #2e5c8a;
  --good-color-dark: #a2e0ae;
  --good-color-light: #6bcb77;
  --ok-color-dark: #ebc870;
  --ok-color-light: #ffc107;
  --bad-color-dark: #e47f7f;
  --bad-color-light: #d9534f;
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --pop-color: var(--pop-color-dark);
  --color: var(--color-dark);
  --good-color: var(--good-color-dark);
  --ok-color: var(--ok-color-dark);
  --bad-color: var(--bad-color-dark);
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  flex: 1;
}

button {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
}

.layout-container {
  display: grid;
  background-color: transparent;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.component-container {
  margin-inline: 1rem;
  margin-block: 0.5rem;
  padding: 10px;
  width: 10.5rem;
}

.room-item-container {
  background-color: var(--primary-color);
  border: 2px solid var(--pop-color);
}

.person-container {
  display: grid;
  grid-template-columns: 6rem auto 10rem; 
  background-color: var(--primary-color); 
}

.delete-button {
  border-radius: 50%;
  border: 1px solid var(--color);
  background-color: var(--bad-color);
  color:var(--color-dark);
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  padding: 0;
}

.profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 4px solid var(--color);
  background-color: var(--pop-color);
  color: var(--color);
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.progress-container {
  border-radius: 20px;
  border: 2px solid var(--color);
  overflow: hidden;
  height: 0.5em;
  margin-block: 3px;
}

.progress {
  height: 100%;
}

.center {
  text-align: center;
}

.short{
  text-wrap: nowrap;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.enter-button{
  background-color: var(--good-color);
}

.depart-button{
  background-color: var(--ok-color);
}

.centered-icon{
  position:relative;
  left:0;
  top:0;
}

.good {
  background-color: var(--good-color);
}

.ok {
  background-color: var(--ok-color);
}

.bad {
  background-color: var(--bad-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: var(--color-light);
    --background-color: var(--background-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --pop-color: var(--pop-color-light);
    --good-color: var(--good-color-light);
    --ok-color: var(--ok-color-light);
    --bad-color: var(--bad-color-light);
  }
}
